{% extends "base.html" %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    </br></br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce blandit lacinia sagittis. Nunc tellus nisi, gravida quis ipsum accumsan, auctor fermentum mauris. Sed massa mauris, feugiat vel hendrerit condimentum, dignissim non mi. Curabitur sodales suscipit mauris, id consectetur justo accumsan quis. Nam molestie semper varius. Ut lorem lectus, porttitor at nibh ut, pretium pulvinar tellus. Phasellus congue sagittis sodales. Quisque turpis enim, accumsan ut mi vitae, tristique rhoncus nibh. Sed ut hendrerit orci, eget pretium velit. Pellentesque vitae viverra nisi.
                    </br></br>
                    Fusce sollicitudin metus ligula, vitae dapibus elit lobortis vel. Vivamus suscipit consectetur purus, eget hendrerit lacus. Suspendisse cursus risus eros, eu consequat massa aliquet et. Donec eros felis, porttitor et faucibus quis, venenatis et velit. Ut sed orci ut nulla pellentesque efficitur at a nisl. Morbi imperdiet a felis et ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor a erat id vestibulum. Duis convallis sed nisi et interdum. Cras id magna sed neque lobortis vehicula commodo a nunc. Curabitur sed aliquet elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </br></br>
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis in velit turpis. Nullam lobortis quis sapien in interdum. Pellentesque eleifend lectus dolor, eget bibendum nibh bibendum eget. Sed ac ante leo. Quisque a ante quis tellus tincidunt imperdiet ac et nibh. Ut egestas tellus sed neque finibus, in cursus quam sodales.
                </p>
                </br></br>
            </div>
        </center>
    </div>

</div>

{% endblock  %}